<script>
  import { db, storage } from "../lib/fire.js";
  import { onMount } from "svelte";
  import { writable } from "svelte/store";
  const engineers = writable([]);
  onMount(() =>
    db.collection("engineers").onSnapshot(snapshot => {
      engineers.update(n => []);
      snapshot.forEach(doc =>
        engineers.update(n => [...n, { ...doc.data(), id: doc.id }])
      );
    })
  );
  let image = null;
  let name = "";
  let err = "";
  const fileChanged = function() {
    const path = `/images/123${Date.now()}`;
    const storageRef = storage.ref(path);
    storageRef.put(this.files[0]).then(snapshot => {
      snapshot.ref.getDownloadURL().then(url => {
        image = url;
      });
    });
  };
  const nameChange = e => {
    name = e.target.value;
  };
  const create = () => {
    if (image && name) {
      err = "";
      db.collection(`events`)
        .add({
          type: "engineerCreate",
          payload: {
            name,
            image
          }
        })
        .then(() => {
          image = null;
          name = "";
        });
    } else {
      err = "set image and name";
    }
  };
  const remove = (id) => {
    db.collection('events')
      .add({
        type: "engineerRemove",
        payload: {
          id
        }
      });
  };
</script>

<style lang="scss">
  @import "../globals";
  .image {
    width: 200px;
    height: 200px;
    margin-top: 40px;
    border: 1px solid $green;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    input {
      width: 200px;
      height: 200px;
      position: absolute;
      opacity: 0;
    }
    img {
      width: 200px;
      height: 200px;
      position: absolute;
      z-index: 9;
      object-fit: cover;
      border-radius: 100px;
      padding: 17px;
      box-sizing: border-box;
    }
  }
  .btn {
    border: 1px solid $green;
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  .err {
    color: $red;
  }
  .engineers {
    display: flex;
    background: $black;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    margin-bottom:10px;
    img {
      width: 30px;
      height: 30px;
      border-radius: 20px;
    }
    .remove {
      cursor: pointer;
    }
  }
</style>

<p>Manage Engineers</p>

{#each $engineers as engineer}
  <div class="engineers">
    <img src={engineer.image} alt="" />
    <span>{engineer.name}</span>
    <span class="remove" on:click={remove(engineer.id)}>X</span>
  </div>
{/each}

<p>add new:</p>
<label for="engineer">Name:</label>
<input on:keyup={nameChange} name="engineer" type="text" value={name} />
<div class="image">

  <input on:change={fileChanged} type="file" />
  {#if image}
    <img src={image} alt="" />
  {:else}
    <span>click here to upload image</span>
  {/if}
</div>
<div on:click={create} class="btn">Add</div>
<div class="err">{err}</div>
