<script>
  import Home from "./pages/Home.svelte";
  import Calendar from "./pages/Calendar.svelte";
  import Engineers from "./pages/Engineers.svelte";
  import { Router, link, Route } from "svelte-routing";

  let url = window.location.pathname;
  import logo from "./images/logo.svg";
</script>

<style lang="scss">
  @import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
  @import "globals";
  :global(body) {
    margin: 0;
    font-family: Nunito;
    background: $gray;
    color: $white;
    overflow: hidden;
    ::-webkit-scrollbar {
      width: 12px;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      border-radius: 10px;
      background: $green;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      border-radius: 10px;
    }
  }

  header {
    display: flex;
    background: $black;
    padding: 10px;
    justify-content: space-between;
    z-index: 4;
    .logo {
      width: 40px;
      height: 40px;
    }
    nav {
      a {
        text-decoration: none;
        padding: 10px;
        display: inline-block;
        color: $white;
        border-radius: 50px;
        background: $blue;
        margin-left: 10px;
        transition: all 0.2s linear;
        &.active {
          background: $green;
          color: $black;
          font-weight: bold;
        }
      }
    }
  }

  .mainContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    .container {
      max-width: 1024px;
      height: calc(100vh - 60px);
      box-sizing: border-box;
      padding: 10px;
      margin: 62px auto;
      overflow-x: hidden;
      overflow-y: scroll;
    }
  }
</style>

<header>
  <a class="logo" href="/" use:link>
    {@html logo}
  </a>
  <nav>
    <a
      href="/"
      on:click={() => {
        url = '/';
      }}
      class={url == '/' ? 'active' : ''}
      use:link>
      Home
    </a>
    <a
      on:click={() => {
        url = '/calendar';
      }}
      class={url == '/calendar' ? 'active' : ''}
      href="/calendar"
      use:link>
      Calendar
    </a>
    <a
      on:click={() => {
        url = '/engineers';
      }}
      class={url == '/engineers' ? 'active' : ''}
      href="/engineers"
      use:link>
      Engineers
    </a>
  </nav>
</header>

<div class="mainContainer">
  <Router {url}>
    <div class="container">
      <Route path="/" component={Home} />
      <Route path="calendar" component={Calendar} />
      <Route path="engineers" component={Engineers} />
    </div>
  </Router>
</div>
